body {
      margin: .5in 1in;
      width: 60%;
      font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
      color: #333;
    }
    
div {
    padding-bottom: 0.25in;
}
label em{
    color: red;
}
#form {
    width:90%;
}
#book table {
    border: 1px solid black;
    width: 100%;
}
#book table td select{
    width: 100%;
}
#book table td{
    width: 20%;
    border: 1px solid black;
}

#general table td input{
    width: 200px;
}
#general table td .radio{
    width: 50px;
    padding-right: 10px;
}
#semester_year input{
    width: 75px;
    text-align:center;
}
#books input {
    width: 100%;
}

#title, #author {
    width: 25%;
}

#addButton{
    float: left;
}
#submitButton{
    float: right;
}
